<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}CALCULADORA SYMFONY{% endblock %}</title>

</head>
<body>
{% block body %}

<h1>CALCULADORA SYMFONY</h1>

<ul>
    <li><a href="{{ path('homepage') }}">Index</a></li>
    <li><a href="{{ path('app_calculator_sumAction') }}">SUMAR</a></li>
    <li><a href="{{ path('app_calculator_subtractAction') }}">RESTAR</a></li>
    <li><a href="{{ path('app_calculator_multiplyAction') }}">MULTIPLICAR</a></li>
    <li><a href="{{ path('app_calculator_divideAction') }}">DIVIDIR</a></li>

</ul>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>